<%= render "shared/alert" %>
<div class="max-w-4xl flex items-center justify-center  mx-auto lg:my-10 lg:my-0">
  
  <!--Main Col-->
  <div id="profile" class="shadow-md p-4 py-10 w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none bg-white opacity-75 m-6 lg:mx-0">
  
  <div class="text-center mb-3">
  <span class= "font-bold text-lg ">My Information</span>
  </div>
      <div class="md:px-10  text-center lg:text-left">
          <!-- Image for mobile view-->
          
          <h1 class="text-lg  font-bold lg:pt-0"><%=current_user.owner%></h1>
          <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-pink-500 opacity-25"></div>
          <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4h3.82zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14zm-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4zm.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4H8.33zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4zm.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51H3.07zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51h3.22zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6zM3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6z"/></svg> Your Location - <%=current_user.address%></p>
          <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("telephone.png", class: "h-4 fill-current text-green-700 pr-4") %> <%=current_user.contact%></p>

          
          <!-- Use https://simpleicons.org/ to find the svg for your preferred product --> 
          
      </div>

  </div>
  


</div>




<div class="max-w-4xl flex items-center justify-center   mx-auto lg:my-10 lg:my-0">
  
  <!--Main Col-->
  <div id="profile" class=" shadow-md px-5 w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none bg-white opacity-75 m-6 lg:mx-0">
  
  <div class="text-center">
  <span class= "font-bold text-lg ">My Pet's Information</span>
  </div>
      <div class="p-4 md:p-5 text-center lg:text-left">
          <!-- Image for mobile view-->
          
          <h1 class="text-lg  font-bold lg:pt-0"><%=current_user.pet_name%></h1>
          <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-pink-500 opacity-25"></div>
          <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("pawprints.png", class: "h-4 fill-current text-green-700 pr-4") %> <%=current_user.breed%></p>
          <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("gender.png", class: "h-4 fill-current text-green-700 pr-4") %> <%=current_user.gender%></p>
          <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("birthday-cake.png", class: "h-4 fill-current text-green-700 pr-4") %> <%=current_user.birth_date%></p>
          
          <% if @body.present? %>
            <div class="text-center my-3 ">
            <span class= "font-bold text-lg ">Body Markings</span>
            </div>
              
            <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("color-palette.png", class: "h-4 fill-current text-green-700 pr-4") %>Coat color - <%=@coat_color%></p>
            <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("fur-coat.png", class: "h-4 fill-current text-green-700 pr-4") %>Fur type - <%=@fur_type%></p>
            <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("view.png", class: "h-4 fill-current text-green-700 pr-4") %>Eye color - <%=@eye_color%></p>
            <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("length.png", class: "h-4 fill-current text-green-700 pr-4") %>Lenght or Height - <%=@length_height%></p>
            <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("select.png", class: "h-4 fill-current text-green-700 pr-4") %>Special Markings - <%=@special_markings%></p>
            <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("weighing-machine.png", class: "h-4 fill-current text-green-700 pr-4") %>Weight - <%=@weight%></p>

            <% else %>
          <div class="text-center my-3 ">
          <span class= "text-base">No body markings info yet</span>
          </div>
          <div class="text-center mt-5">
          <%= link_to "Click here to add",  new_bodies_path, class: " p-3 font-semibold text-black w-full cursor-pointer flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium  bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
          <%end%>
       
      </div>

  </div>
  

  

</div>



<div class="max-w-4xl flex items-center justify-center  mx-auto lg:my-10 lg:my-0">
 
  <!--Main Col-->
  <div id="profile" class="w-full bg-gray-100 shadow-md py-5 lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none bg-white opacity-75 m-6 lg:mx-0">
  
  <div class="text-center p-1 md:p-5">
  <% if @medical.present? %>
  <span class= "font-bold text-lg ">Medical Information</span>
  </div>
      <div class="p-4 md:px-10  text-center lg:text-left">

      <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("sterilization.png", class: "h-4 fill-current text-green-700 pr-4") %>Sterilization - <%=human_boolean(@sterilization)%></p>
      <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("calendar.png", class: "h-4 fill-current text-green-700 pr-4") %>Sterilization Date - <%=@sterilization_date%></p>
      <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("allergies.png", class: "h-4 fill-current text-green-700 pr-4") %>Allergies - <%=@allergies%></p>
      <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= image_tag("ellipsis.png", class: "h-4 fill-current text-green-700 pr-4") %>Others - <%=@others%></p>
    <%else%>
    <div class="text-center my-3 ">
    <span class= "text-base">No medical info yet</span>
    </div>
    <div class="text-center mt-5">
    <%= link_to "Click here to add",  new_medicals_path, class: " p-3 font-semibold text-black w-full cursor-pointer flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium  bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
      <%end%>

            
       
          
          <!-- Use https://simpleicons.org/ to find the svg for your preferred product --> 
          
      </div>

  </div>
  


</div>




 
