<%if user_signed_in? %>
<nav class="bg-white shadow mx-auto sticky top-0 z-50 py-5 sm:py-0">
<div class="container max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
<div class="relative flex justify-between">
<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
<!-- Mobile menu button -->
</div>
<div class="flex-1 flex items-center sm:items-stretch sm:justify-start py-1 sm:py-0 lg:py-0">
<div class="flex-shrink-0 flex items-center">
<a href="/">
<%= image_tag("petlogo.png", class: " hidden rounded-lg lg:block h-16  py-1 w-auto") %>
</a>
</div>
<div class="hidden sm:ml-6 sm:flex justify-center flex-1">
<!-- Current: "hover:text-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->

<a class="tracking-wide px-5 inline-flex items-center py-6 hover:bg-gray-100 hover:text-gray-700 font-bold text-gray-500" href="/user">
 Profile
</a>
<a class="tracking-wide px-5 inline-flex items-center py-6 hover:bg-gray-100 hover:text-gray-700 font-bold text-gray-500" href=" /appointments">
  My Appointments
</a>

<a class="tracking-wide px-5 inline-flex items-center py-6 hover:bg-gray-100 hover:text-gray-700 font-bold text-gray-500" href="#">
  Services
</a>
<a class="tracking-wide px-5 inline-flex items-center py-6 hover:bg-gray-100 hover:text-gray-700 font-bold text-gray-500" href="#">
<span>
Contact us
</span>
<%= image_tag("telephone.png", class: "h-4 m-2 bg-white") %>
</a>

</div>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
<!-- Profile dropdown -->
<div class="ml-3 relative" x-data="{open: false}">
<div>

<button @click="open = !open" aria-expanded="false" aria-haspopup="true" class="items-center bg-white rounded-full flex text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button">
<span class="sr-only">Open user menu</span>
<%= image_tag("paw.png", class: "h-8 w-8 rounded-full bg-white") %>
<span class="ml-2 font-medium hidden sm:flex md:flex lg:flex"><%=current_user.owner%></span>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path class="heroicon-ui" d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"></path></svg>
</button>
</div>

<div @click.away="open = false" aria-labelledby="user-menu" aria-orientation="vertical" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" x-show="open" style="display: none;">
<a class="sm:hidden md:hidden block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href="/user" role="menuitem">
Profile</a>
<a class="sm:hidden md:hidden block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href="/appointments" role="menuitem">
My Appointments
</a>
<a class="block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href= "/appointments/new" role="menuitem">
Setup an appointment
</a>
<a class="block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href="/list" role="menuitem">
List of Schedule
</a>
<a class="sm:hidden md:hidden block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href="#" >
Services
</a>
<a class="sm:hidden md:hidden block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href="#" role="menuitem">
Contact us
</a>

<a class="text-base block px-4 py-2 text-gray-700hover:bg-gray-100" rel="nofollow" data-method="delete" href="/users/sign_out"><em-span data-chunk="cnk_3a21402ac4f63ea6cc49" data-chunk-editable="true" data-chunk-type="single_line_text" data-chunk-cache-id="profile_menu_sign_out" data-chunk-content-key="profile_menu_sign_out">Sign out</em-span></a>
</div>
</div>
</div>
</div>
</div>
</nav>

<%else%>
<nav class="bg-white shadow mx-auto sticky top-0 z-50">
<div class="container max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
<div class="relative flex justify-between items-center">
<div class="absolute inset-y-0 left-0 items-center sm:hidden" x-data="{showMenu : false}">
<!-- Mobile menu button -->
<button @click.prevent="showMenu = !showMenu" aria-controls="mobile-menu" aria-expanded="false" class="inline-flex items-center py-5 justify-center p-1 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none" type="button">
<span class="sr-only">Open main menu</span>
<!--
Icon when menu is closed.
Heroicon name: outline/menu
Menu open: "hidden", Menu closed: "block"
-->
<svg aria-hidden="true" class="block h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" x-show="!showMenu" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
</svg>
<!--
Icon when menu is open.
Heroicon name: outline/x
Menu open: "block", Menu closed: "hidden"
-->
<svg fill="#A0AEC0" height="24px" viewBox="0 0 24 24" width="24px" x-show="showMenu" xmlns="http://www.w3.org/2000/svg" style="display: none;">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
</svg>
</button>
<div @click.away="showMenu = false" aria-labelledby="user-menu" aria-orientation="vertical" class="text-center font-semibold py-2 w-48 bg-white rounded-b-lg shadow-xl" role="menu" x-show="showMenu" x-transition:enter-end="opacity-100 transform scale-x-100 translate-x-0" x-transition:enter-start="opacity-0 transform scale-x-0 -translate-x-1/2" x-transition:enter="transition ease-in-out duration-300" x-transition:leave-end="opacity-0 transform scale-x-0 -translate-x-1/2" x-transition:leave-start="opacity-100 transform scale-x-100 translate-x-0" x-transition:leave="transition ease-in-out duration-300" style="display: none;">
<a class="tracking-wide px-5 inline-flex items-center py-2 text-gray-500 border-transparent hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="/explore">
Services
</a>

<a class="tracking-wide px-5 inline-flex items-center py-2 text-gray-500 border-transparent hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="/users">
Contact us
</a>
<a class="rounded-md text-center shadow-md mx-5 mb-2 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 active:bg-indigo-700 hover:bg-gray-100  transition duration-150 ease-in-out sm:hidden md:hidden block px-4 py-2 text-base text-gray-700 hover:bg-gray-100" href="/users/sign_in"><em-span data-chunk="cnk_4ccf68faa28530b4bb66" data-chunk-editable="true" data-chunk-type="single_line_text" data-chunk-cache-id="log_in_top_bar" data-chunk-content-key="log_in_top_bar">Log in</em-span></a>
<a class="text-center mx-5 rounded-md sm:hidden md:hidden block px-4 py-2 text-base hover:bg-gray-100 bg-pink-800 hover:bg-pink-400 text-white hover:text-gray-200" href="/users/sign_up" role="menuitem">
Get started
</a>
</div>
</div>
<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-startsm:py-0">
<div class="flex-shrink-0 flex items-center">
<a href="/">
<%= image_tag("petlogo.png", class: "  rounded-lg lg:block h-16  py-1 w-auto") %>
</a>
</div>
<div class="hidden sm:ml-6 sm:flex justify-center flex-1">
<!-- Current: "hover:text-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
<a class="tracking-wide px-5 inline-flex items-center py-6 font-bold text-gray-500 border-transparent hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="#">
Services
</a>
<a class="tracking-wide px-5 inline-flex items-center py-6 font-bold text-gray-500 border-transparent hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="#">
Contact us
</a>

</div>
</div>

</div>
</div>

</div>
</div>
</div>
</div>
</nav>
<%end%>