<%= form_for(@appointments) do |f| %>
    <section class="py-10 lg:py-20 bg-gray-50">
      <div class="container mx-auto px-4">
        <div class="max-w-md mx-auto">
          
          <div class="mb-6 lg:mb-10 text-center">
            <div class="mb-6">
              <h3 class="text-2xl font-bold">Schedule an appointment</h3>
            </div>
            <form action="">
              <div class="flex flex-wrap -mx-2">
                <div class="mb-3 w-full lg:w-1/2 px-2">
                <%= f.text_field :owner_name, autofocus: true, autocomplete: "owner_name", placeholder: "Owner name",  :class=>"form-control w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
                </div>
                <div class="mb-3 w-full lg:w-1/2 px-2">
                <%= f.text_field :reason, autofocus: true, autocomplete: "reason", placeholder: "Reason", :class=>"form-control w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
                </div>
              </div>
              <div class="flex flex-wrap -mx-2">
              <div class="mb-3 w-full lg:w-1/2 px-2">
              <%= f.text_field :date, autofocus: true, autocomplete: "date", placeholder: "dd/mm/yy", type: :date, :class=>"w-full mb-3 px-3 py-1.5 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
              </div>
              <div class="mb-3 w-full lg:w-1/2 px-2">
              <%= f.text_field :time, autofocus: true, autocomplete: "time", placeholder: "hh:mm:ss", type: :time, :class=>"form-control w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
              </div>
            </div>
            <div class="flex flex-wrap -mx-2">
            <div class="mb-3 w-full  px-2">
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "Active phone #",  :class=>"form-control w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
            </div>
            <div class="mb-3 w-full ">
            <%= f.text_area :additional_information, autofocus: true, autocomplete: "additional_information", placeholder: "Tell us more about this appointment",  :class=>"form-control w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>

            </div>
          </div>
              
              <div class="text-center">
          <%= f.submit "Submit", :class=> "text-gray-900 w-full cursor-pointer flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%end%>