<body class=" bg-gray-100">
<!-- component -->
<%= render "shared/alert" %>
<div class="overflow-x-auto">
        <div class="min-w-screen flex items-center justify-center bg-gray-100 font-sans ">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Reason</th>
                                <th class="py-3 px-6 text-left">Date</th>
                                <th class="py-3 px-6 text-center">Time</th>
                                <th class="py-3 px-6 text-center">Details</th>

                                <th class="py-3 px-6 text-center">Actions</th>
                            </tr>
                        </thead>
                        <% @appointments.each do |a| %>
                            <%if a.user_id == current_user.id %>
                        <tbody class="text-gray-600 text-sm font-light">
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium">
                                        <%=a.reason%></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                    <%=a.date%>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex items-center justify-center">
                                    <%=a.time%>
                                 </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                <%=a.additional_information%>
                                </td>
                             
                                <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <%= link_to image_tag("delete.png" , class: "h-4 fill-currentpr-4"), appointments_path(@appointment, a),
                                        data: {:confirm => 'Are you sure?'}, :method => :delete %>
                                </div>
                            </div>
                                </td>
                            </tr>
                        </tbody>
                        <%end%>
                        <%end%>
                    </table>
                    <%if current_user.appointments.count == 0 %>
                      <div class="text-center text-sm text-gray-400 p-5">
                      No appointments history yet.
                      </div>
                      <%end%>
            
                </div>
            </div>
        </div>
    </div>
    </body>